@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap');

/* Global Styles */
:root {
  --primary-color: #3498Db;
  --accent-color: #F26101;
  --dark-color: #323232;
  --medium-color: #4a4a4a;
  --medlight-color: #bababa;
  --slate-gray: #708090;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --danger-color-trans: #dc354550;
  --success-color: #28a745;
  --card-radius: 5px;
}

* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: var(--light-color);
  color: #333;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: #666;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

hr {
  color: var(--light-color);
  border-style: inset;
  border-width: 1px;
  margin: .5rem auto;
}

/* Utilities */

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

/* Text Styles*/
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.small {
  margin: 0rem;
  padding: 0;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary-color);
}

.text-dark {
  color: var(--dark-color);
}

.text-success {
  color: var(--success-color);
}

.text-danger {
  color: var(--danger-color);
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

/* Center All */
.all-center {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Cards */
.card {
  border: var(--slate-gray) 1px solid;
  margin: 0.7rem 0;
  border-radius: var(--card-radius);
  box-shadow: 2px 2px 5px var(--slate-gray);
  /* height:60px; */
  height: fit-content;
  text-align: justify;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  background-color: var(--light-color);
}

.list-item {
  width: 100%;
  border-bottom: var(--medlight-color) solid 1px;
  padding: 5px 5px;
  text-align: left;
}

.list-item {}

.item-info {
  width: 90%;
  overflow: hidden;
  text-overflow: clip;
}

.item-title {
  font-size: 1rem;
  color: var(--dark-color);
  font-weight: bold;
  padding: 0px;
  margin: 0px;
  margin-right: 5px;
}

.item-description {
  /* text-overflow:clip; */
  word-wrap: break-word;
  word-break: break-all;
  /* display: inline-block; */
  /* overflow: scroll; */
  /* width: 80%; */
  font-size: .75rem;
  height: fit-content;
  /* max-height: 50px; */
  color: var(--medium-color);
  line-height: 1rem;
}


.add-card-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
}

.add-card {
  /* flex-direction: column; */
  width: 80%;
  /* justify-content:center; */
  /* align-items: center; */
}

.add-card input,
textarea {
  background-color: var(--light-color);
  /* border: none; */
  border: var(--medlight-color) 1px solid;
  border-radius: var(--card-radius);
  height: fit-content;
  outline: none;
  margin: .5rem .5rem .5rem .5rem;

}


.add-form {
  border: var(--medlight-color) solid 1px;
  border-radius: 10px;
  width: 90%;

}

/* .card.card-expanded{
  height: fit-content;
} */


#item-vote {
  background-color: var(--slate-gray);
  width: 1.5rem;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--light-color);
  font-size: .75rem;
}

/* List */
.list {
  margin: 0.5rem 0;
}

.list li {
  padding-bottom: 0.3rem;
}

/* Comments */

.comment-thread {
  width: 90%;
  margin: auto;
  padding: 15px;
  /* border: var(--medium-color) solid 1px; */
  /* border-radius: var(--card-radius); */
}

.comment {
  /* width: 100%; */
  position: relative;
  padding: 0px 30px;
  margin: 20px auto;
  text-align: left;

}

.comment-replies {
  margin-left: 20px;
}

.comment-header {
  /* background-color: #ccc; */
  height: 30px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.comment-info {
  align-items: center;
  display: flex;
  font-size: 14px;
}

.comment-user {
  font-weight: 600;
  color: var(--primary-color);
}

.comment-body {
  padding: 0px 30px;
  display: inline-block;
}

.comment-border-link {
  display: block;
  position: absolute;
  top: 30px;
  left: 0;
  width: 12px;
  height: calc(100% - 30px);
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  background-color: rgba(0, 0, 0, 0.1);
  background-clip: padding-box;
}

.comment-border-link:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.btn-comment,
.btn-comments {
  /* position: relative; */
  justify-items: center;
  font-size: 1rem;
  margin: 0 auto;
  border: none;
  outline: none;
  cursor: pointer;
  transition: opacity 0.2s ease-in;
  stroke: var(--primary-color);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.btn-comment:hover,
.btn-comments:hover,
.btn-reply:hover {
  opacity: 0.8;
}

.btn-reply {
  font-size: 1rem;
  margin: 1rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: opacity 0.2s ease-in;
  stroke: var(--primary-color);
  display: flex;
  flex-direction: row;
}

/* Padding */
.p {
  padding: 0.5rem;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 3rem;
}

.py {
  padding: 0.5rem 0;
}

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.py-3 {
  padding: 3rem 0;
}

/* Margin */
.m {
  margin: 0.5rem;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 2rem;
}

.m-3 {
  margin: 3rem;
}

.my {
  margin: 0.5rem 0;
}

.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 2rem 0;
}

.my-3 {
  margin: 3rem 0;
}

/* Flex */

.flex-v {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-h {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.self-left {
  align-self: flex-start;
}

.self-right {
  align-self: flex-end;
}

/* Grid */
.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

.avatar {
  border: solid 1px var(--light-color);
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--accent-color);
}

.avatar-lg {
  width: 2rem;
  height: 2rem;
  font-size: 1.25rem;
}

.btn {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.btn-link {
  background: none;
  padding: 0;
  margin: 0;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-sm {
  font-size: 0.8rem;
  padding: 0.3rem 1rem;
  margin-right: 0.2rem;
}

.btn-drag {
  display: flex;
  flex-direction: column;
  /* border: 1px solid var(--slate-gray); */
  border-radius: var(--card-radius);
  border-top-right-radius: var(--card-radius);
  border-bottom-right-radius: var(--card-radius);
  justify-content: center;
  background-color: var(--slate-gray);
  width: 1rem;
  padding: .25rem;
}

.btn-add {
  /* justify-content: center;
  align-items: center; */
  /* display: block; */
  /* align-self: center;
  justify-self: center;
  align-items: center ;
  align-content: center; */
  line-height: 4rem;
  height: 4rem;
  width: 4rem;
  /* border: 1px solid var(--dark-color); */
  border: none;
  color: var(--primary-color);
  background-color: transparent;
  /* border-radius: 50% 50%; */
  font-size: 3rem;
  /* font-weight: bold; */
  align-self: flex-start;
  /* margin-bottom: 20px; */
  /* text-align: center; */
}

.btn-add-active {
  transform: rotate(45deg);
}

.btn-icon {
  background-color: transparent;
  border: none;
  color: var(--primary-color);
  /* padding: 0px; */
  /* margin: 0px; */
  font-size: 1.25rem;
}

.btn-icon-vote {
  background-color: transparent;
  border: none;
  color: var(--light-color);
  padding: 0px;
  margin: auto;
  font-size: .75rem;
}

.dot {
  background-color: var(--light-color);
  margin: .25rem 0px .25rem 0px;
  width: .25rem;
  height: .25rem;
  border-radius: 50% 50%;
}

.badge {
  display: inline-block;
  font-size: 0.8rem;
  padding: 0.2rem 0.7rem;
  text-align: center;
  margin: 0.3rem;
  background: var(--light-color);
  color: #333;
  border-radius: 5px;
}

.alert {
  padding: 0.7rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  border-radius: var(--card-radius);
  color: #333;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: var(--light-color);
  color: #333;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-medium,
.bg-medium,
.badge-medium,
.alert-medium {
  background: var(--medium-color);
  color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: var(--danger-color);
  /* border: 1px solid var(--danger-color); */
  color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: var(--success-color);
  color: #fff;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

.btn:hover {
  opacity: 0.8;
}

.bg-light,
.badge-light {
  border: #ccc solid 1px;
}

.round-img {
  border-radius: 50%;
}

/* Forms */
/* input {
  margin: 1.2rem 0;
} */

.form-text {
  display: block;
  margin-top: 0.3rem;
  /* color: #888; */
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='date'],
select,
textarea {
  display: block;
  width: 95%;
  padding: 0.4rem;
  margin: .5rem auto 1rem;
  /* font-size: 1.2rem; */
  /* border: 1px solid #ccc; */
  resize: none;
}

input[type='submit'],
button {
  font: inherit;
}

table th,
table td {
  padding: 1rem;
  text-align: left;
}

table th {
  background: var(--light-color);
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  z-index: 1;
  width: 100%;
  opacity: 0.9;
  margin-bottom: 1rem;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.navbar a:hover {
  color: var(--light-color);
}

.navbar .welcome span {
  margin-right: 0.6rem;
}

/* React Transition Group */

.item-enter {
  opacity: 0;
  transform: scale(0.9);
}

.item-enter-active {
  opacity: 1;
  transform: translateX(0);
  /* transition: opacity 300ms, transform 300ms; */
  transition: opacity 1000ms, ease-in;
}

.item-exit {
  opacity: 1;
}

.item-exit-active {
  opacity: 0;
  transform: scale(0.9);
  /* transition: opacity 300ms, transform 300ms; */
  transition: opacity 1000ms, ease-out;
}

/* Mobile Styles */
@media (max-width: 700px) {
  .hide-sm {
    display: none;
  }

  .grid-2,
  .grid-3,
  .grid-4 {
    grid-template-columns: 1fr;
  }

  /* Text Styles */
  .x-large {
    font-size: 3rem;
  }

  .large {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  }

  /* Navbar */
  .navbar {
    display: block;
    text-align: center;
  }

  .navbar ul {
    text-align: center;
    justify-content: center;
  }
}